@charset "utf-8";

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

.main-container {
	margin: 0 auto;
	max-width: calc(100% - 600px);
	overflow: hidden;
}

.EduIntroHeader {
	height: 550px;
	width: 100%;
	background-image:
		url("../../../../../images/egovframework/com/uat/uia/support_bg.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.KDPText>h3 {
	font-family: GmarketSansBold;
	font-size: 85px;
	color: #fff;
	margin: 10px 0px;
	min-width: 328px;
	padding-bottom: 70px;
}

main {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	margin: 20px;
}

body {
	margin: 0px !important;
}

.main-container {
	margin: auto;
	max-width: 1500px;
	overflow: hidden;
}

.solTableFrm input[type="radio"] {
	width: 15px;
	height: 15px;
}

.solTableFrm input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

label{
	font-family: NotoSansKR-Regular, sans-serif;
	font-size: 16px;
	color: #666;
	padding-right: 20px;
}

/* .solTable1 label[for^="diskSize50GB"], .solTable1 label[for^="diskSize100GB"], */
/* .solTable1 label[for^="docker"], .solTable1 label[for^="container"] { */
/* 	font-family: NotoSansKR-Regular, sans-serif; */
/* 	font-size: 16px; */
/* 	color: #666; */
/* } */

/* .solTable1 label[for^="osCentOS"], .solTable1 label[for^="osWindows"] { */
/* 	font-family: NotoSansKR-Regular, sans-serif; */
/* 	font-size: 16px; */
/* 	color: #666; */
/* } */

/* 서버유형 선택*/
/* .server-type-container label { */
/* 	font-family: NotoSansKR-Regular, sans-serif; */
/* 	font-size: 16px; */
/* 	color: #666; */
/* } */

/* .server-type-container label[for^="option"], .server-type-container label[for^="gpuOption"] */
/* 	{ */
/* 	font-family: NotoSansKR-Regular, sans-serif; */
/* 	font-size: 16px; */
/* 	color: #666; */
/* } */

/* label[for="cpu"], label[for="gpu"] { */
/* 	font-family: 'NotoSansKR-Regular', sans-serif; */
/* 	font-size: 18px; */
/* 	color: #666; */
/* } */

/* #standardOptions label { */
/* 	font-family: 'NotoSansKR-Regular', sans-serif; */
/* 	font-size: 18px; */
/* 	color: #666; */
/* } */

#standardOptions select {
	font-family: 'NotoSansKR-Regular', sans-serif;
	font-size: 16px;
	color: #666;
}

#standardOptions select {
	width: 550px;
}

/* #gpuOptions label { */
/* 	font-family: 'NotoSansKR-Regular', sans-serif; */
/* 	font-size: 18px; */
/* 	color: #666; */
/* } */

#gpuOptions select {
	font-family: 'NotoSansKR-Regular', sans-serif;
	font-size: 16px;
	color: #666;
}

#gpuOptions select {
	width: 550px;
}