
@charset "UTF-8";

#bo_list, #bo_v, #bo_w, #bo_gall {
  position: relative;
  width: 1400px;
  margin: 100px auto;
}

#bo_list h1 {
  display: none;
}

#bo_btn_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gal_sch_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
/*     width: 1200px; */
/*     padding-left: 113px; */
    justify-content: center;
}

.gallery {
/*   max-width: 1110px;  */
	margin: 20px auto; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 40px;
    row-gap: 28px;
}

.gallery-item {
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 1em 1.5em rgba(0, 0, 0, .2);
}

.gallery-item-info {
  margin-top: 15px; 
  margin-bottom: 30px;
}

.gallery-item-info h3 {
	padding-top: 14px;
	margin-bottom: 10px;
	font-family: "NotoSansKR-Medium";
	font-size: 16px;
}

.gallery-item-info p {
  margin-bottom: 3px; 
}