@font-face {
	font-family: NotoSansKR-Regular;
	src: url(../../../font/NotoSansKR-Regular.ttf) format(woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NotoSansKR-Medium;
	src: url(../../../font/NotoSansKR-Medium.ttf) format(woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NotoSansKR-Bold;
	src: url(../../../font/NotoSansKR-Bold.ttf) format(woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NotoSansKR-ExtraBold;
	src: url(../../../font/NotoSansKR-ExtraBold.ttf) format(woff);
	font-weight: normal;
	font-style: normal;
}

/* 순천대 마크 배경 고정 */
body {
	background-image: url('../../../images/egovframework/com/uat/uia/SCNU_bg_symbol.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
}

#header {
	height: 64px;
	/* 	width: 95%; */
	position: absolute;
	z-index: 100;
}

#header .logo {
	position: absolute;
	left: 300px;
	top: 70px;
}

#header .nav {
	position: absolute;
	left: 300px;
	top: 50%;
	padding-left: 10%;
}

#header .nav li {
	float: left;
	width: 140px;
}

#header .nav li a {
	margin: 5px 15px;
}

#visual-slider-main {
	height: 750px;
	width: 100%;
/* 	background-image: url("../../../images/egovframework/com/uat/uia/main_banner_01.png"); */
	background-size: cover;
}

.main-view{
    margin:  auto;
    margin-bottom: 20px;
    text-align: center;
}
.main-view{
	height:750px;
	overflow:hidden;
}

.main-view>ul>li{
    position: absolute;
    font-size: 0;
}


/* .main-view ul{ */
/* 	width: 100%; */
/* 	display:flex; */
/* 	animation:slide 8s infinite;  slide를 8초동안 진행하며 무한반복 함 */
/* } */
/* .main-view li{ */
/* 	width: 100%; */
/* 	height:300px; */
/* } */
    
/* @keyframes slide{ */
/* 	0% {margin-left:0;} 0 ~ 10  : 정지 */
/*     10% {margin-left:0;} 10 ~ 25 : 변이 */
/*     25% {margin-left:-100%;} 25 ~ 35 : 정지 */
/*     35% {margin-left:-100%;} 35 ~ 50 : 변이 */
/*     50% {margin-left:-200%;} */
/*     60% {margin-left:-200%;} */
/*     100% {margin-left:0;} */
/* } */


.visual-txt {
	position: absolute;
	top: 400px;
	left: 10%;
}

.menu {
	display: flex;
	width: inherit;
	/* overflow: hidden; */
	/* margin: auto; */
	position: relative;
	top: 30px;
	left: 280px;
}

.menu>li {
	/*   width: 20%; 20*5=100% */
	/*   float: left; */
	text-align: center;
	line-height: 40px;
}

.menu a {
	color: #fff;
	font-family: "NotoSansKR-ExtraBold", sans-serif;
	font-size: 17px;
	text-decoration: none !important;
}

.submenu>li {
	line-height: 50px; /* 서브메뉴 간 사이 간격 */
}

.submenu>li>a {
	color: #fff;
	font-family: "NotoSansKR-Regular", sans-serif;
	font-size: 13px;
	text-decoration: none !important;
}

.submenu {
	height: 0; /*ul의 높이를 안보이게 처리*/
	overflow: hidden;
}

.menu>li:hover {
	/* background-color: #94a9ff; */
	transition-duration: 0.5s;
	height: 50px;
}

.menu>li>a:hover{
	color: #111111;
	transition-duration: 0.3s;
}

.submenu>li>a:hover{
	color: #111111;
	transition-duration: 0.3s;
}

.menu>li:hover .submenu {
	height: fit-content; /*서브메뉴 li한개의 높이 50*5*/
	text-align: center;
	transition-duration: 0.5s;
	background-color: #005bac75;
}
