@font-face {
	font-family: 'GmarketSansBold';
	src: url('../../../font/GmarketSansBold.otf') format('opentype');
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('../../../font/GmarketSansMedium.otf') format('opentype');
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	src: url('../../../font/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-ExtraBold';
	src: url('../../../font/NotoSansKR-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	src: url('../../../font/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	src: url('../../../font/NotoSansKR-Bold.ttf') format('truetype');
}

.solHeader {
	height: 550px;
	width: 100%;
	background-image:
		url("../../../images/egovframework/com/uat/uia/solution_header_background.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.solText {
	font-family: GmarketSansMedium;
	font-size: 20px;
	color: #fff;
	margin-bottom: 65px;
	text-align: center;
}

.solText>h2 {
	font-family: GmarketSansBold;
	font-size: 85px;
	color: #fff;
	margin: 10px 0px;
}

.solText>p {
	padding-top: 36px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "NotoSansKR-ExtraBold", sans-serif;
	background-image: url(./img/scu_symbol.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.container {
	margin-top: 118px;
	text-align: center;
}

.vision-ai-text {
	position: relative;
	top: 50px;
	text-align: center;
	margin-left: 0px;
	font-family: GmarketSansBold;
	font-size: 75px;
	color: #111111;
}

.additional-text {
	text-align: center;
	font-family: NotoSansKR-Medium;
	font-size: 20px;
	margin-left: 0px;
	color: #111111;
	line-height: 30px;
	padding-top: 100px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-left: 0px;
	border-bottom-style: inset;
	padding-bottom: 89px;
}

.button-style {
	display: inline-block;
	width: 180px;
	height: 50px;
	background-color: #005bac;
	color: #fff;
	font-family: "NotoSansKR-ExtraBold", sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	border-radius: 15px;
	cursor: pointer;
}

.button-style:hover {
	background-color: #003366;
}

@media ( max-width : 768px) {
	.container {
		margin-top: 50px;
	}
}

.content-container {
	display: flex;
	margin: 0 300px;
	margin-top: 89px;
}

.content-description {
	max-width: 500px;
	padding-right: 20px;
}

.underbar {
	color: #005bac;
	font-family: "NotoSansKR-ExtraBold", sans-serif;
	font-size: 30px;
	text-decoration: none !important;
	padding-top: 19px;
	padding-bottom: 12px;
}

.content-description1 {
	font-family: NotoSansKR-Bold;
	font-size: 28px;
}

.content-description2 {
	font-family: NotoSansKR-Regular;
	font-size: 17px;
	width: 350px;
	line-height: normal;
}

.image-boxes {
	display: flex;
	margin-left: 50px;
}

.image-box {
	width: 390px;
	height: 260px;
	margin-right: 20px;
	background-color: #005bac;
	margin-top: 28px;
}

.image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}