@font-face {
    font-family: 'GmarketSansBold';
    src: url('../../../font/GmarketSansBold.otf') format('opentype');
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../../../font/GmarketSansMedium.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('../../../font/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-ExtraBold';
    src: url('../../../font/NotoSansKR-ExtraBold.ttf') format('truetype');
}


.solHeader {
	height: 550px;
	width: 100%;
	background-image: url("../../../images/egovframework/com/uat/uia/application_header_background.png");
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.solText {
	font-family: GmarketSansMedium;
	font-size: 20px;
	color: #fff;
	margin-bottom: 65px;
	text-align: center;
}
.solText > h2 {
	font-family: GmarketSansBold;
	font-size: 85px;
	color: #fff;
	margin: 10px 0px;
}

/* solution table style */
.solTableFrm { margin:152px 300px; margin-bottom: 0px; }
.solTableFrm h1 { text-align:center; color:#111; font-size:55px; font-weight: bold; margin-bottom: 30px; font-family: GmarketSansBold; }
.solTableFrm h2.user_info {
	font-family: GmarketSansBold;
	display: flex;
    align-items: center;
	margin: 0px;
	border-top: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	height: 76px;
	color:#666;
	font-size:30px;
	font-weight:bold;
	padding-left:60px;
	background:url(../../../images/egovframework/com/cmm/icon/user_info_icon.png) left center no-repeat;
	background-position: 5px center;
}
.solTableFrm h2.apply_info {
	font-family: GmarketSansBold;
	display: flex;
    align-items: center;
	margin: 0px;
	border-top: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	height: 76px;
	color:#666;
	font-size:30px;
	font-weight:bold;
	padding-left:60px;
	background:url(../../../images/egovframework/com/cmm/icon/apply_info_icon.png) left center no-repeat;
	background-position: 5px center;
}
.solTableFrm h3 { color:#333;  font-size:14px; font-weight:600; margin:50px 0 10px 0; }
.solTableFrm h3 b { color:#2277d7; }

.solTable1 { width: 100%; height:267px; padding: 50px 20px; }
.solTable1 > tbody > tr > th { font-size: 24px; color:#666; text-align: right; padding: 0px; padding-right: 10px; font-family: NotoSansKR-Medium; }
.solTable1 > tbody > tr > td input { font-size: 24px; color:#666; width: 472px; height: 44px; border: 1px solid #b4b4b4; border-radius: 10px; }
.solTable1 > tbody > tr > td input.in { font-size: 24px; color:#666; width: 216px; height: 44px; }
.solTable2 { width: 100%; padding: 50px 20px; }
.solTable2 > tbody > tr > th { font-size: 24px; color:#666; text-align: right; padding: 0px; padding-right: 10px; font-family: NotoSansKR-Medium; }
.solTable2 > tbody > tr > td input { font-size: 24px; color:#666; width: 1110px; height: 44px; border: 1px solid #b4b4b4; border-radius: 10px; }
.solTable2 > tbody > tr > td textarea { resize: none; font-size: 24px; color: #666; width: 1110px; height: 300px; border: 1px solid #b4b4b4; border-radius: 10px; }
.solTable2 > tbody > tr > td input#file-name-input { font-size: 24px; color:#666; width: 970px; height: 44px; border: 1px solid #b4b4b4; border-radius: 10px; }
.fileUpload {
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.solUploadBtn {
    font-family: NotoSansKR-ExtraBold;
	background-color: #005bac;
	padding-left: 10px;
	width: 125px;
	height: 48px;
	border: none;
	font-size: 24px;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 15px;
}
.solBtn {
	width: 100%;
	margin: 30px 827px;
	display: flex;
	gap: 15px;
}
.solBtn > button.cancle {
	font-family: NotoSansKR-ExtraBold;
	border: none;
	border-radius: 10px;
	background-color: #d2d2d2;
	width: 125px;
	height: 48px;
	font-size: 24px;
	color: #fff;
}
.solBtn> button.app {
	font-family: NotoSansKR-ExtraBold;
	border: none;
	border-radius: 10px;
	background-color: #005bac;
	width: 125px;
	height: 48px;
	font-size: 24px;
	color: #fff;
}