@font-face {
	font-family: 'GmarketSansBold';
	src: url('../../../font/GmarketSansBold.otf') format('opentype');
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('../../../font/GmarketSansMedium.otf') format('opentype');
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	src: url('../../../font/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-ExtraBold';
	src: url('../../../font/NotoSansKR-ExtraBold.ttf') format('truetype');
}

body {
	margin: 0px !important;
}

.solHeader {
	height: 550px;
	width: 100%;
	background-image:
		url("../../../images/egovframework/com/uat/uia/application_header_background.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.solText {
	font-family: GmarketSansMedium;
	font-size: 20px;
	color: #fff;
	margin-bottom: 65px;
	text-align: center;
}

.solText>h2 {
	font-family: GmarketSansBold;
	font-size: 85px;
	color: #fff;
	margin: 10px 0px;
	/* 글 쏟아짐 방지 */
	min-width: 400px;
}

.solText>p {
	padding-top: 36px;
	line-height: 25px;
}

/* solution table style */
.solTableFrm {
	margin: 100px 300px;
	margin-bottom: 0px;
	/* 가운데 정렬 추가 */ 
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* 가로폭 반응형 제거 */
    min-width: 900px;
}

.solTableFrm h1 {
	width: 100%;
	text-align: center;
	color: #111;
	font-size: 50px;
	margin-bottom: 50px;
	font-family: GmarketSansBold;
	/* 글씨 예쁘게 쏟아지게 하기 위함 */
/* 	line-height: 54px; */
    min-width: 300px;
}

.solTableFrm h2.user_info {
	font-family: GmarketSansBold;
	display: flex;
	align-items: center;
	margin: 0px;
	border-top: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	height: 45px;
	color: #666;
	font-size: 25px;
	font-weight: bold;
	padding-left: 60px;
	background:
		url(../../../images/egovframework/com/cmm/icon/user_info_icon.png)
		left center no-repeat;
	background-position: 5px center;
	/* 리사이징 */
	width: 850px;
	padding-top: 10px;
}

.solTableFrm h2.apply_info {
	font-family: GmarketSansBold;
	display: flex;
	align-items: center;
	margin: 0px;
	border-top: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	height: 45px;
	color: #666;
	font-size: 25px;
	padding-left: 55px;
	background:
		url(../../../images/egovframework/com/cmm/icon/apply_info_icon.png) left
		center no-repeat;
	background-position: 5px center;
	width: 850px;
	padding-top: 10px;
}

.solTableFrm h3 {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	margin: 50px 0 10px 0;
}

.solTableFrm h3 b {
	color: #2277d7;
}

.solTable1 {
	/* 	width: 100%; */
	/* 	리사이징 */
	width: 900px;
	height: 170px;
		/* 	top right bottom left */
	padding: 25px 10px 25px 40px;
}

.solTable1>tbody>tr>th {
	font-size: 21px;
	color: #666;
	text-align: center;
	padding: 0px;
	padding-right: 10px;
	font-family: NotoSansKR-Regular;
}

.period{
	font-size: 24px;
    color: #666;
    font-family: NotoSansKR-Regular;
}

.solTable1>tbody>tr>td input {
	font-size: 16px;
	font-family: NotoSansKR-Regular;
	color: #666;
	width: 238px;
	height: 40px;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	text-align: center;
}

.solTable1>tbody>tr>td input.in {
	font-size: 16px;
	color: #666;
	width: 100px;
	height: 40px;
	text-align: center;
}

.solTable2 {
	width: 100%;
	padding: 30px 40px;
	/* 가운데 정렬 추가 */
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.solTable2>tbody>tr>th {
	font-size: 21px;
	font-family: NotoSansKR-Regular;
	color: #666;
	text-align: right;
	padding: 0px;
	padding-right: 10px;
}

.solTable2>tbody>tr>td input {
	font-size: 16px;
	font-family: NotoSansKR-Regular;
	color: #666;
	width: 675px;
	height: 40px;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	padding-inline-start: 10px;
}

.solTable2>tbody>tr>td textarea {
	resize: none;
	font-size: 16px;
	font-family: NotoSansKR-Regular;
	color: #666;
	width: 667px;
	height: 210px;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	padding: 10px;
}

.solTable2>tbody>tr>td input#file-name-input {
	font-size: 16px;
	font-family: NotoSansKR-Regular;
	color: #666;
	width: 560px;
	height: 40px;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	padding-inline-start: 10px;
}

.fileUpload {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img.upload_icon{
	vertical-align: sub;
}

.solUploadBtn {
	/* 	background-image: url('../../../images/egovframework/com/cmm/icon/upload_icon.png');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: contain; */
	background-color: #005bac;
	padding-left: 10px;
	width: 100px;
	height: 40px;
	border: none;
	font-size: 17px;
	font-family: NotoSansKR-Regular;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 15px;
}

.solBtn {
	width: 100%;
/* 	margin: 30px 827px; */
	gap: 15px;
	/* 가운데 정렬 추가 */
	display: flex;
	justify-content: center;
}

.solBtn>button.cancle {
	font-family: NotoSansKR-Bold;
	border: none;
	border-radius: 10px;
	background-color: #d2d2d2;
	width: 110px;
	height: 40px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

.solBtn>button.app {
	font-family: NotoSansKR-Bold;
	border: none;
	border-radius: 10px;
	background-color: #005bac;
	width: 110px;
	height: 40px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}