#header{
	height: 64px;
/* 	width: 95%; */
	position: absolute;
	z-index: 100;
}

#header .logo {
	position: absolute;
	left: 300px;
	top: 70px;
}

#header .nav{
	position: absolute;
	left: 300px;
	top: 50%;
	padding-left: 10%;
}

#header .nav li{
	float: left;
	width: 140px;
}

#header .nav li a {
	margin: 5px 15px;
}

#visual-slider{
	height: 750px;
	width: 100%;
/* 	background-color: grey; */
	background-image: url("../../../images/egovframework/com/uat/uia/main_banner_01.png");
	background-size: cover;
}

.visual-txt {
	position: absolute;
	top: 400px;
	left: 10%;
}

.menu {
  display: flex;
  width: inherit;
  /* overflow: hidden; */
  /* margin: auto; */
  position: relative;
  top: 30px;
  left: 280px;
}

.menu > li {
/*   width: 20%; 20*5=100% */
/*   float: left; */
  text-align: center;
  line-height: 40px;
}

.menu a {
  color: #fff;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none !important;
}

.submenu > li {
  line-height: 50px; /* 서브메뉴 간 사이 간격 */
}

.submenu > li > a{
	color: #fff;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none !important;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}

.menu > li:hover {
  /* background-color: #94a9ff; */
  transition-duration: 0.5s;
  background-color: #014fadd6;
  height: 50px;
}

.menu > li:hover .submenu {
  height: fit-content; /*서브메뉴 li한개의 높이 50*5*/
  text-align: center;
  transition-duration: 1s;
  background-color: #025bb4c4;
}
  


